:root {
    --primary: rgb(102, 102, 233);
    --secondary: rgb(7, 240, 216);
    --shadow: rgb(7, 240, 216, .5);
    --light: rgb(255, 255, 255);
    --dark-grey: rgb(98, 98, 133);
    --light-grey: rgb(212, 212, 214);
    --my-blue: rgb(5, 5, 160);
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--my-blue);
    font-weight: 400;
}
.container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
.container1 {
    width: 95%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}
h1 {
    font-size: 50px;
}

/***********Principal buttons***********/
.my-btn {
    margin-top: 25px;
    width: 150px;
    display: inline-block;
    background: var(--secondary);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: var(--light);
}
.my-btn:hover {
    box-shadow: 0 0 20px 0 var(--shadow);
    font-weight: bold;
}

/****************header*************/
header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}
nav {
    width: 100%;
    height: 80px;
    background: var(--primary);
    border-bottom: 1px solid transparent;
    transition: ease-in-out 0.5s;
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}
.nav .logo {
    height: 80px;
}
.nav .logo img {
    height: 100%;
    vertical-align: top;
}
.header-links {
    font-weight: 300;
    transition: ease-in-out 0.5s;
}
.nav .header-links a {
    color: var(--light);
    text-decoration: none;
    padding: 0 10px;
    transition: all 0.2s ease-in-out;
}
.nav .header-links a:hover {
    color: var(--secondary);
    transform: scale(1.2);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 var(--secondary);
}
.hamburguer {
    width: 40px;
    height: 40px;
    background: var(--light-grey);
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
    transition: all .5s ease-in;
    display: none;
}
.hamburguer img {
    width: 25px;
    height: 25px;
}
.header-content {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header-content > img {
    width: 450px;
    animation: ease-in anim 1s;
}
@keyframes anim {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.header-texts {
    text-align: center;
}
.header-content p {
    font-weight: 300;
    margin-top: 14px;
    color: var(--dark-grey);
}

.title {
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
}

/************About Us*************/
.about-us {
    background: var(--light-grey);
}
.article-container {
    display: flex;
    flex-wrap: wrap;
    margin: top 60px;
    justify-content: space-around
}
.article {
    width: 29%;
    background: rgb(255, 255, 255);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 40px 30px 50px 30px;
    text-align: center;
}
.article:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 var(--dark-grey);
    transition: .5s;
}
.article > img {
    width: 60px;
    height: auto;
}
.article h3 {
    font-size: 25px;
    margin-top: 30px
}
.article p {
    font-weight: 300;
    color: var(--dark-grey);
    margin-top: 15px;
    padding-bottom: 20px;
}
.article a {
    color: var(--dark-grey);
    text-decoration: none;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 10px;
}
.article a:hover {
    color: var(--dark-grey);
    box-shadow: 0 0 10px 0 var(--dark-grey);
    transition: .5s;
}

/**************Questions******************/
.questions {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.questions > img {
    width: 400px;
}
.questions-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.questions-texts p {
    font-weight: 300;
    margin-top: 14px;
    color: var(--dark-grey);
    text-align: center;
}

/************Results***************/
.results {
    background: var(--primary);
    padding-top: 30px;
}
.results-content {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.numbers {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.numbers .number {
    width: 45%;
    background: rgb(255, 255, 255, .2);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 40px 35px;
}
.numbers .number h4 {
    color:rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}
.numbers .number p {
    color:rgb(255, 255, 255);
    font-weight: 300;
}
.text-results {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.text-results h4 {
    color:rgb(255, 255, 255);
    font-size: 40px;
}
.text-results p {
    color:rgb(255, 255, 255);
    font-weight: 300;
    margin: 20px 0;
}

/*************Services*****************/
.services {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.services > img {
    width: 400px;
}
.skills-box {
    margin: 30px 30px 0 0;
}
.skills-box h4 {
    display: flex;
    align-items: center;
    font-size: 20px;
    background: rgb(197, 197, 250);
    width: 280px;
    border-radius: 6px;
    padding: 10px 0 10px 30px;
    margin-bottom: 20px;
    gap: 20px;
}
.skills-box img {
    width: 40px;
}

/************Footer***************/
footer {
    background: rgb(197, 197, 250);
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
.footer-part {
    width: 20%;
    text-align: center;
}
.footer-part h4 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer-part a {
    display: block;
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 300;
    transition: all .3s ease-in-out;
    margin-bottom: 10px;
}
.footer-part a:hover {
    color: rgb(22, 22, 22);
    transform: scale(1.2);

}
.footer-part .logo {
    width: 70%;
}
.social-media {
    display: flex;
    justify-content: center;
}
.social-media img {
    width: 40px;
    transition: all ease-in-out .3s;
    margin: 0 5px;
    opacity: .3;
}
.social-media img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/****** Breackpoints ********/
@media screen and (max-width: 800px) {
    .titulo {
        font-size: 40px;
    }
    .header-content {
        flex-direction: column;
        justify-content: space-evenly;
        height: 720px;
        gap: 0;
    }
    .header-content > img {
        width: 400px;
    }
    .header-texts {
        padding: 0 40px;
    }

    /* About Us */
    .article {
        width: 45%;
    }

    /* Questions */
    .questions {
        height: 720px;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 0;
    }
    .questions-texts {
        padding: 0 30px;
    }

    /* Results */
    .results-content {
        flex-direction: column-reverse;
        gap: 0;
    }
    .text-results > a {
        margin-bottom: 50px;
    }
    .text-results {
        width: 100%;
        padding: 0 20px;
    }
    .numbers {
        width: 100%;
    }

    /* Services */
    .services {
        flex-direction: column-reverse;
        align-items: center;
    }
    .skills-box {
        margin: 0 0 30px 0;
    }
    .skills-box h4 {
        width: 350px;
        padding: 10px 0 10px 50px;
    }

    /* Footer */
    .footer-part {
        width: 40%;
    }
}
@media screen and (max-width: 500px) {
    .header-links {
        position: fixed;
        background: rgb(102, 102, 233);
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        clip-path: circle(0% at 100% 0);
    }
    .nav .menu2 {
        -wewkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);
    }
    .hamburguer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: 30px;
    }
    h1 {
        font-size: 30px;
    }
    .header-content {
        height: 650px;
    }
    .nav {
        padding: 0 10px;
    }
    .header-content img {
        width: 240px;
    }
    .header-texts {
        padding: 0 10px;
    }
        
    /* About Us */
    .article {
        width: 90%;
    }

    /* Questions */
    .questions img {
        width: 240px;
    }
    .questions-texts {
        padding: 0 30px;
    }

    /* Results */
    .text-results > a {
        margin-bottom: 50px;
    }
    .text-results {
        width: 100%;
        padding: 0 20px;
    }
    .numbers {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .numbers .number {
        width: 90%;
    }
    .numbers .number h4 {
        font-size: 30px
    }
    .numbers .number p {
        font-size: 16px
    }

    /* Services */
    .skills-box h4 {
        width: 250px;
        padding: 10px 0 10px 20px;
        font-size: 16px;
    }
    .services > img { 
        width: 250px;
    }

    /* Footer */
    footer {
        gap: 30px;
    }
    .footer-part {
        width: 100%;
    }
}

